<!-- <app-todo-input (exportNewTodoItem)="addNewTodoItem($event)"></app-todo-input>
<app-todo [todoList]="todoItem"></app-todo> -->
<a routerLink="/">To-do item</a>
<br>
<a routerLink="/input">Input</a>
<br><br>
<router-outlet></router-outlet>
